
<div class="container pt-5">

    <div class="text-center">

            <div class="avd_div pb-5">
                <a asp-action="TransactionDownload" class="bucn_3_4r">Загрузить excel</a>
            </div>

    </div>

</div>


<div class="container pt-5">

    <div class="text-center">

            <div class="avd_div pb-5">
                <a asp-action="TransactionAdd" class="bucn_3_4r">Добавить</a>
            </div>

    </div>

</div>

<div class="container pt-5">

    <div class="text-center">

            <div class="avd_div pb-5">
                <a asp-action="TransactionGet" class="bucn_3_4r">Все транзакции</a>
            </div>

    </div>

</div>

