@model HomeBookkeeping.Web.Models.ViewModels.TransactionVM

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<form asp-action="TransactionAdd">
   
    <br />
    <div class="container border p-3 bg-light">
        <h1 class="text-primary">Создать транзакцию</h1>

        <hr />
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col-2">
                                <label asp-for="Transaction.UserFullName" class="control-label pt-2" style="font-size:20px;"></label>
                            </div>
                            <div class="col-10 pb-3">
                                <select asp-for="СreditСard.UserId" class="form-select" id="userId"
                                        asp-items="@(new SelectList(@ViewBag.UserList,"UserId","FullName"))">
                                        <option disabled selected>Выбор пользователя</option>
                                </select>
                                <span asp-validation-for="Transaction.UserFullName" class="text-danger"></span>
                            </div>


                            <div class="col-2">
                                <label asp-for="Transaction.NumberCardUser" class="control-label pt-2" style="font-size:20px;"></label>
                            </div>
                            <div class="col-10 pb-3">
                                <select asp-for="СreditСard.СreditСardId" class="form-select" id="creditСardId"
                                 >
                                </select>
                                <span asp-validation-for="Transaction.NumberCardUser" class="text-danger"></span>
                            </div>



            <div class="col-2">
                <label asp-for="Transaction.RecipientName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Transaction.RecipientName" class="form-control" />
                <span asp-validation-for="Transaction.RecipientName" class="text-danger"></span>
            </div>


            <div class="col-2">
                <label asp-for="Transaction.DateOperations" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Transaction.DateOperations"  class="form-control" />
                <span asp-validation-for="Transaction.DateOperations" class="text-danger"></span>
            </div>


            <div class="col-2">
                <label asp-for="Transaction.Sum" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Transaction.Sum" class="form-control" />
                <span asp-validation-for="Transaction.Sum" class="text-danger"></span>
            </div>


            <div class="col-2">
                <label asp-for="Transaction.Category" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Transaction.Category" class="form-control" />
                <span asp-validation-for="Transaction.Category" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <a asp-action="TransactionIndex" class="btn btn-outline-primary form-control">Вернуться</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Создать" class="btn btn-outline-primary form-control" />
            </div>

        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}


 <script type="text/javascript">
    $(document).ready(function () {
        getСreditСardByUserId();
    })
    $("#userId").change(function () {
        getСreditСardByUserId();
    });
    var getСreditСardByUserId = function () {
         $.ajax({
            url: '@Url.Action("GetСreditСardByUserId","Transaction")',
            type: 'GET',
            data: {
                userId:$('#userId').val(),
            },
            success: function (data) {
                $('#creditСardId').find('option').remove()
                $(data).each(
                    function (index, item) {
                        $('#creditСardId').append('<option value="'+ item.id +'">' + item.number+ '</option>')
                    });
            },
            error: function () {
            }
           });
    }
</script>