@using HomeBookkeeping.Web.Models.ViewModels



<div class="container">
  <div class="row row-cols-2">
    <div class="col">
        @*ExpensNameYear*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputNameYear" class="bucn_3_4r">За год определенного пользователя</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        @*ExpensNameYearMonth*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputNameYearMonth" class="bucn_3_4r">За год и месяц определенного пользователя</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
       @* ExpensNameCategoryYear*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputNameCategoryYear" class="bucn_3_4r">По категории определенного пользователя и года</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        @*ExpensNameCategoryYearMonth*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputNameCategoryYearMonth" class="bucn_3_4r">По категории определенного пользователя за год и месяц</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
       @* ExpensFull*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="FullReport" class="bucn_3_4r">Полный отчёт</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
       @* ExpensCategoryFullYaer*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputCategoryFullYaer" class="bucn_3_4r">По определенной категории и все года</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        @*ExpensCategoryYaer*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputCategoryYaer" class="bucn_3_4r">По определенной категории и года</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
       @* ExpensNameFullYear*@
        <div class="container pt-5">
            <div class="text-center">
                <div class="avd_div pb-5">
                    <a asp-action="DataInputNameFullYear" class="bucn_3_4r">За все года определенного пользователя</a>
                </div>
            </div>
        </div>

    </div>
  
  </div>
</div>






